@using REMOTEMIND_EASY.Core.Application.ViewModels.User;
@using REMOTEMIND_EASY.Core.Application.ViewModels.User;
@using Microsoft.AspNetCore.Http;
@using REMOTEMIND_EASY.Core.Application.Helpers;
@inject IHttpContextAccessor accessor;
@model UserViewModel;
@{
    ViewData["Title"] = "EmployeeHome";
    UserViewModel user = accessor.HttpContext.Session.GetSession<UserViewModel>
           ("user");
    var employees = ViewBag.Employees;

}

<h2 class="text-center mt-5 ">Dashboard</h2>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">

            <!-- Icon Cards-->
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                <div class="inforide">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                        </div>
                        <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                            <h4>@(user.RoleId == 1 ? "Empleados activos" : "Tests")</h4>
                            <h2>@(user.RoleId == 1 ? employees : "")</h2>
                        </div>
                    </div>
                </div>
            </div>

            @if (user.RoleId != 1)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
                    <div class="inforide">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                                <h4>Promedio</h4>
                                <h2>50</h2>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
