﻿@using REMOTEMIND_EASY.Core.Application.ViewModels.User;
@using Microsoft.AspNetCore.Http;
@using REMOTEMIND_EASY.Core.Application.Helpers;
@inject IHttpContextAccessor accessor;
@model UserSaveViewModel;

@{
    var user = accessor.HttpContext.Session.GetSession<UserViewModel>("user");


    ViewData["Title"] = "Usuario";
}

<!-- Section: Design Block -->
<!-- Jumbotron -->
@if(user != null){

}
<div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
       
        <div class="row gx-lg-5 align-items-center">
            @if (user == null)
            {
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        REMOTEMIND <br />
                        <span class="text-primary">EASY</span>
                    </h1>

                </div>
            }

            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card">
                    <div class="card-body py-5 px-md-5">
                        @if (Model.Roles == null || Model.Roles.Count <= 0)
                        {
                            <h1>Necesita crear los Roles</h1>
                        }
                        else
                        {


                            <h6 class="mb-5 display-5 fw-bold ls-tight">
                                Rgistrarse
                            </h6>
                            @* @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            ; *@

                            <span class="text-danger">@(Model.HasError ? Model.Error : "")</span>

                            <form method="post" asp-controller="User" asp-action="@("Register")">
                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <div class="row">

                                    <!-- Email input -->


                                    <div class="form-group">
                                        <label asp-for="Name">Nombre:</label>
                                        <input type="text" class="form-control" id="Name" asp-for="Name">
                                        <span class="text-danger" asp-validation-for="Name"></span>

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" asp-for="Username">Username</label>

                                        <input type="text" class="form-control" asp-for="Username" />
                                        <span class="text-danger" asp-validation-for="Username"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" asp-for="Password">Password</label>

                                        <input type="password" class="form-control" asp-for="Password" />
                                        <span class="text-danger" asp-validation-for="Password"></span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" asp-for="ConfirmPassword">ConfirmPassword</label>

                                        <input type="password" class="form-control" asp-for="ConfirmPassword" />
                                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                    </div>

                                    @if(user != null)
                                    {
                                        <input type="hidden" class="form-control"  asp-for="EnterpriseId" value="@user.Id"/>
                                    }
                                    
                                    <div class="form-outline mb-4">
                                        @if (user != null)
                                        {
                                            <select class="form-select " asp-for="RoleId">
                                                <option value="">--Seleccione--</option>
                                                <option value="2">Employee</option>
                                            </select>
                                        <span class="text-danger" asp-validation-for="Username"></span>

                                        }else{
                                            <select class="form-select" asp-for="RoleId">
                                                <option value="">--Seleccione--</option>
                                                <option value="1">Enterprise</option>
                                            </select>
                                            <span class="text-danger" asp-validation-for="Username"></span>

                                        }
                                       
                                        <label class="form-label" asp-for="RoleId">Role</label>
                                    </div>

                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-block mb-4 col-lg-6 offset-3">
                                        Guardar
                                    </button>
                                </div>
                            </form>
                        }


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Jumbotron -->
<!-- Section: Design Block -->